html {
    background-color: rgb(25, 25, 30);
    color: rgb(181, 181, 227);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    display:flex;
}

.sidebar {
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    cursor: pointer;
    padding-top:5px;
    padding-left:15px;
    padding-bottom:5px;
    margin:0px;
    background-color:rgba(181, 181, 227, 0.25);
}

.sidebar h2:hover {
    background-color:rgba(181, 181, 227, 0.35);
}

.sidebar h2:active {
    background-color:rgba(181, 181, 227, 0.25);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
}

details {
    cursor: pointer;
    font-weight: bold;
    padding-top: 4.2px;
    padding-bottom: 4.2px;
    border-radius:10px;
    padding:10px;
    display:flex;
    flex-direction: column;
    gap:5px;
    background-color: rgba(181, 181, 227, 0.05);
}

details:hover {
    background-color: rgba(181, 181, 227, 0.1);
}

details:open {
    background-color: rgba(181, 181, 227, 0.1);
}

details a {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    align-self: center;
    margin-left: 25px;
}

.link-display {
    border-radius:10px;
    cursor: pointer;
    height: 30px;
    display: flex;
}

.link-display-a {
    border-radius:10px;
    cursor: pointer;
    height: 30px;
    display: flex;
    background-color: rgba(181, 181, 227, 0.2);
}
.link-display-a a {
    font-weight: 700;
}

.link-display:hover {
    background-color: rgba(181, 181, 227, 0.1);
}

.md-view {
    padding:15px;
}